/* ===================================================================
   Icons
   =================================================================== */

.icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
    flex-shrink: 0;
}

.icon.large {
    width: 48px;
    height: 48px;
    opacity: 0.5;
}
